# Unreal Engine 4 folders:
/Binaries/
/Build/
/DerivedDataCache/
/Intermediate/
/Saved/

# Visual Studio files:
/*.sln
/*.suo
/*.sdf
/*.opensdf
/.vs/
/*.VC.db
/*.VC.VC.opendb

#KDevelop files:
.kdev_include_paths

#Qt Creator files:
defines.pri
includes.pri
prz.pro
prz.pro.user
